.loading-component-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo-icon{
    height: max(25vw,250px);
    image-rendering: pixelated;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
  }
  
  @-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
  }
  @-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
  }
  @keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
  }

  p{
    font-size: 2rem;
    margin-top:4rem;
    font-weight: 600;
  }
}
